body {
    background: hsl(205, 55%, 83%);
    font-family: Arial;
}

#displaymode {
    font-family:'Arial';  
    position: absolute;
    margin-left: 90%;
    background-color:hsl(205, 55%, 83%);
    color:hsl(222, 32%, 15%);
    border-radius: 10%;
    height:40px
}

#selector {
    background-color: hsl(205, 55%, 83%);
    filter: brightness(0.9);
    position: absolute;
    display: flex;
    width:100%;
    height:12%;
    top:0%;
    left:0;
}

select {
    background-color: hsl(205, 55%, 83%);
    filter: brightness(0.95);
    font-family: "Consolas";
}


#preset-selector {
    background-color: hsl(205, 55%, 83%);;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    top:12%;
    height: 68%;
    width: 43%;
    left:55%;
}


#presets-buttons-wrapper {
    display: flex;
    flex-direction: row;
}

#select-preset-button {
    background-color: #cfffa482;
    font-family:Verdana;
    width:70%
}

#export-preset-button {
    background-color: #ffcda482;
    font-family:Verdana;
    width:30%
}

#export {
    width: 100%;
    bottom: 12%;
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 5%;
    left: 0;
}

#export-mod-button {
    background-color: #47a7ca82;
    font-family:Verdana;
    width:100%
}


#footer {
    width: 100%;
    bottom: 0;
    position: absolute;
    padding-left: 2%;
    height: 12%;
    left: 0;
}

#monster-desc {
    background-color: hsl(205, 55%, 83%);
    position: absolute;
    overflow: hidden;
    border-style: dashed;
    border-width: 2;
    top:13%;
    height: 66%;
    width: 43%;
    left:2%;
}

#mod-zip-button {
    position: absolute;
    top:0;
    left:40%;
    height:100%;
    background-color: hsl(204, 32%, 64%);
}